@import '../../colors.css';

.header-bar {
  background-color: var(--base2);

  display: flex;
  justify-content: space-around;

  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px 12px
}

.header-bar__logo-container {
  display: flex;
  align-items: center;
}

.header-bar__logo {
  width: 30px;
}

.header-bar__app-name {
  color: var(--base01);
  margin: 0;
  margin-left: 5px;
}

.header-bar__title {
  color: var(--base01);
  text-align: center;
  align-self: flex-end;
  font-size: 14px;
  font-family: var(--bs-font-monospace);
  flex-grow: 10;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.header-bar__back-button {
  color: var(--base01);
  text-decoration: none;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header-bar__back-button__directory-path {
  margin-left: 0.25em;
}

.header-bar__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  width: 120px;

  color: var(--base01);
}

.header-bar__actions__item {
  color: var(--base01);

  margin-left: 0.5em;
}

.header-bar__actions__item--disabled {
  opacity: 0.5;
}
